/* styles.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f9fc;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden; /* Prevent body scroll */
}

.container {
    width: 40%; /* Vous pouvez ajuster la largeur selon vos préférences */
    margin: auto; /* Centre le conteneur horizontalement et verticalement */
    margin-top: 100px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Ajoute une ombre */
}

/* Style pour les inputs */
input[type="text"],
input[type="password"] {
    width: calc(100% - 22px); /* Largeur ajustée pour compenser le padding */
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Style pour le bouton */
button[type="submit"] {
    width: calc(100% - 22px); /* Largeur ajustée pour compenser le padding */
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

/* Style pour les messages de succès */
.messages {
    margin-bottom: 20px;
}

/* Base message styling */
.message {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid transparent;
    border-radius: 4px;
}

/* Error message styling */
.message.error {
    color: #f44336;
    background-color: #ffdddd;
    border-color: #f44336;
}

/* Success message styling */
.message.success {
    color: #4CAF50;
    background-color: #ddffdd;
    border-color: #4CAF50;
}